<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Preentrega 3 - clProyecto Final Coder</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="container-fluid px-5 pt-3">
                {{{body}}}
            </div>
        </div>
    </body>
</html>