    <br>
    <br>
    <br>
    <div class="row g-3">
        <div class="container col-6 align-middle" style="background-color:#f9080c">
            <div class="container col-6 align-middle" style="background-color:#f9080c">
                <br>
                <h2 class="text-center" style="color:rgb(212, 212, 225)">El login no es correcto</h2>
                <div class="col-12 center" style="padding-top: 23px;">
                    <a href="./login">
                        <input type="button" class="center btn btn-primary col-12" id="button" value="Ir al Login"/>
                    </a>
                </div>
                <br>
            </div>
        </div>
    </div>
    
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
                integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
                crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
                integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
                crossorigin="anonymous">
        </script>
